.places {
    margin: 91px 148px 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    row-gap: 80px;
    flex-direction: column;
}

@media all and (max-width: 1200px) {
    .places {
        margin: 92px 48px 0;
    }
} 

@media all and (max-width: 978px) {
    .places {
        margin: 95px 24px 0;
        row-gap: 75px;      
    }
} 

@media all and (max-width: 640px) {
    .places {
        margin: 64px auto 0 0;
        row-gap: 50px;        
    }
}