.lead__title {
    font-family: inter, Arial, Helvetica, sans-serif;
    font-size: 96px;
    font-weight: 900;
    font-style: normal;
    color: #FFFFFF;
    line-height: 100px;
    text-align: center;
    margin: 56px 280px 0 280px;
    max-width: 100%;
}

@media all and (max-width: 1024px) {
    .lead__title {
        margin: 48px 152px 0 152px;
    }
} 

@media all and (max-width: 768px) {
    .lead__title {
        margin: 48px 24px 0 24px;
        
    }
} 

@media all and (max-width: 692px) {
    .lead__title {
        line-height: 44px;
        font-size: 40px;
        max-width: 288px;
        margin: 48px 16px 0 16px;    
    }
}