.footer__links {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

@media all and (max-width: 320px) {
    .footer__links {
        max-width: 100%;
        margin: 0;
        padding-bottom: 48px;
        background-color: #2A2C2F;
        display: flex;
        flex-direction: column;
        justify-content: space-between;       
    }
}