.cover {
    max-width: 100%;
    padding: 93px 48px;
    margin: 0 auto;
    box-sizing: border-box;
}


@media all and (max-width: 1024px) {
    .cover {
        padding: 92px 0;
    }
} 

@media all and (max-width: 768px) {
    .cover { 
        padding: 94px 0 88px 0;
    }
} 

@media all and (max-width: 540px) {
    .cover {
        padding: 66px 0 62px 0;       
    }
}