.cover__title {
    max-width: 100%;
    font-family: inter, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0 0 32px 0;
}

@media all and (max-width: 640px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;       
    }
}

@media all and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;       
    }
}