.cover__title {
    width: 560px;
    height: auto;
    font-family: inter, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0 0 32px 0;
}

@media all and (max-width: 640px) {
    .cover__title {
        max-width: fit-content;
        font-family: inter;
        font-weight: 900;
        font-style: normal;
        font-size: 32px;
        line-height: 35px;       
    }
}

@media all and (max-width: 320px) {
    .cover__title {
        max-width: fit-content;
        font-family: inter;
        font-weight: 900;
        font-style: normal;
        font-size: 32px;
        line-height: 35px;       
    }
}